@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #054E57; 
   /* background-color: #F6F6F6; */
}

/* headings and logo */

header {
    border-bottom: 1px solid #054E57;
    width: 100%;
    background: #fff;
    position: fixed;
    z-index: 2;
}

h1, h2 {
    font-family: 'EB Garamond', sans-serif;
    text-transform: lowercase;
    color: #003942;
    letter-spacing: 2px;    
}

#logo {
    float: left;
    font-size: 230%;
    margin-left: 30px;
}

/* nav links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    margin-right: 30px;
}

#menu, #logo {
    line-height: 75px;
}

#menu ul {
    float: right;
}

#menu ul li {
    float: left;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover  {
    border-bottom: 1px solid #054E57;
}

.active {
    border-bottom: 1px solid #054E57;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    margin: 75px 24px 48px 24px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
}

#cover-text, #cover-text h2 {
    color: #054E57
}

#hero-image {
    height: 550px;
    width: 45%;
    background: url('../images/16x9\ depositphotos_223407470-stock-photo-two-white-whippets-playing-outdoor.jpg') no-repeat center center;
    background-size: cover; 
    margin: 30px 0px 30px 60px;
    padding: 30px;
    border-radius: 15px;
    border-color: #fff;
    float: left;
    box-sizing: border-box;

    /* animates zoom effect  upon page refresh 
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    */
    
}

 /* creates level of zoom effect for hero image 

@keyframes hero-zoom {
    from {
        transform: scale(0.9);
    }
    to {
        transform: scale(1);
    }
}
*/
#cover-text {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
   /* text-transform: lowercase; */
    letter-spacing: 2px;

    /* sets dimensions of div container */
    width: 45%;
    height: 600px;
    margin: 60px 30px 30px 30px;
    padding: 30px;
    float: right;
    box-sizing: border-box;

    /* background-color: rgba(64, 94, 99, .7);
    bottom: 30px;
    right: 150px;
    position: absolute
    */
}

/* sign up link button */

.sign-up-link-button {
    width: 200px;
    height: 40px;
    border-radius: 4px;
    color: #003942;
    background-color: #B6936F;
    display: block;
    border: 1px solid #405E63;
    float: left;
}

.sign-up-link-button:hover {
    background-color: #003942;
    color: #f6f6f6;
    border-color: #f6f6f6;
}

.sign-up-link-button > a {
    height: 100%;
    width:100%;
	display: inline-table;
    cursor: pointer;
    text-decoration: none;
}

.sign-up-link-button > a > h3 {
    /*margin: 0 auto;*/
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #f6f6f6;
    font-size: 50%;
}

/* group ethos */

#welcome {
    margin-bottom: 24px;
    font-size: 230%;
    text-align: center;
    /*padding-top: 30px;*/
}

#group-ethos {
    height: 600px;
    width: 100%; 
    text-align: center;
    background-color: #A3BAB7;
    padding: 48px 24px;
    box-sizing: border-box;  
    font-size: 1.1em;  
}

#left-about {
    /*margin: 24px 0px 0px 24px;*/
    padding: 24px;
    width: 33%;
    float: left;
}

#right-about {
    /*margin: 24px 0px 0px 24px;*/
    padding: 24px;
    width: 33%;
    float: right;
}

#center-about {
    /*margin: 24px 0px 0px 24px;*/
    padding: 24px;
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #003942;
    width: 100%;
    margin: 10px 0px;
}

.left-about-heading {
    width: 60%;
    /*line-height: 20px;*/
    clear: both;
    margin: 0 auto;
}

/*
.left-about-heading h2, .left-about-heading p {
    text-align: center;
}
*/

.right-about-heading {
    width: 60%;
    /*line-height: 20px;*/
    clear: both;
    margin: 0 auto;
}

.center-about-heading {
    width: 60%;
    /*line-height: 20px;*/
    margin: 0 auto;
}

/*
.right-about-heading h2, .right-about-heading p {
    text-align: center;
}
*/

.circle-container {
    width: 150px;
    height: 150px;
    padding: 30px;
    border-style: solid;
    background-color: #A3BAB7;
    border-color: #A3BAB7;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#left-cover-background {
    background: url('../images/square\ depositphotos_223407512-stock-photo-two-white-whippets-playing-outdoor.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
}

#right-cover-background {
    background: url('../images/square\ depositphotos_6534897-stock-photo-whippet-dog-and-frisbee.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
}

#center-cover-background {
    background: url('../images/square\ depositphotos_29852595-stock-photo-group-dog.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
    background-size: cover; 
}

/* event times and locations */

#events {
    width: 100%;
    height: 600px;
    padding: 48px 0px;
    display: inline-block;
    background-color: #f6f6f6;
}

#events-title {
    margin-bottom: 24px;
    text-align: center;
    font-size: 230%;
}

#events div {
    width: 33.33%;
    height: 550px;
    float: left;
    text-align: center;
    font-size: 1.1em;
    padding: 24px;
    background-color: #fff;
    border: 12px solid #f6f6f6;
    border-radius: 25px;
    box-sizing: border-box;
    position: relative;
}

#events div h2 {
    padding: 24px;
}

#events div h4 {
    padding-bottom: 12px;
    color: #405E63;
}

#events ul {
    padding: 12px 24px;
    font-size: 1.1em;
    line-height: 25px;
}

#events ul li::marker {
        content: '✓';
}

#events iframe {
    position: absolute;
    height: 150px;
    width: 90%;
    bottom: 20px;
    left: 20px;
}

/* footer */

footer {
    height: 150px;
    width: 100%;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: inherit;
}

.social-networks li {
    list-style-type: none;
    display: inline;
}

.social-networks i {
    font-size: 1.75em;
    margin: 1px;
    padding: 5%;
}

/* sign up page */

.form-section {
    background: url('../images/16x9\ depositphotos_156531312-stock-photo-whippet-dog-portrait-in-nature.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 900px;
}

.signup-form {
    color: #f6f6f6;
    background-color: rgba(64, 94, 99, .6);
    border-radius: 15px;
    position: absolute;
    right: 10%;
    padding: 24px;
    margin: 150px 5% 0 0;
    max-width: 350px;
}

.signup-form > h2 {
    margin-bottom: 12px;
    color: #f6f6f6;
}

.signup-text-input {
    background: transparent;
    color: inherit;
    width: 100%;
    height: 24px;
    margin: 0px 5px 12px 0px;
    border: 1px solid #f6f6f6;
    border-radius: 5px;
}

.sign-up-button {
    width: 200px;
    height: 40px;
    margin-top: 20px;
    border-radius: 4px;
    color: #003942;
    background-color: #B6936F;
    display: block;
    border: 1px solid #405E63;
    float: left;
    font-size: 1.1em;
    text-transform: lowercase;
}

.sign-up-button:hover {
    background-color: #003942;
    color: #f6f6f6;
    border-color: #f6f6f6;
}

