@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #054E57;
}

/* headings and logo */

header {
    width: 100%;
    background: #fff;
    position: absolute;
}

header>a {
    text-decoration: none;
}

h1,
h2 {
    font-family: 'EB Garamond', sans-serif;
    text-transform: lowercase;
    color: #003942;
    letter-spacing: 2px;
}

#logo {
    float: left;
    font-size: 230%;
    margin-left: 30px;
}

/* nav links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    margin-right: 30px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu ul {
    float: right;
}

#menu ul li {
    float: left;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #054E57;
}

.active {
    border-bottom: 1px solid #054E57;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    margin: 75px 0px 50px 25px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
}

#cover-text,
#cover-text h2 {
    color: #054E57
}

#hero-image {
    height: 550px;
    width: 45%;
    background: url('../images/___Two_White_Whippets_16x9\ Resized.jpg') no-repeat center center;
    background-size: cover;
    margin: 30px 0px 30px 60px;
    padding: 30px;
    border-radius: 15px;
    border-color: #fff;
    float: left;
    box-sizing: border-box;
}

#cover-text {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    width: 45%;
    height: 600px;
    margin: 60px 30px 30px 30px;
    padding: 30px;
    float: right;
    box-sizing: border-box;

}

/* sign up link button */

.sign-up-link-button {
    width: 200px;
    height: 40px;
    border-radius: 4px;
    color: #003942;
    background-color: #054E57;
    display: block;
    border: 1px solid #054E57;
    float: left;
}

.sign-up-link-button:hover {
    background-color: #003942;
    color: #f6f6f6;
    border-color: #f6f6f6;
}

.sign-up-link-button>a {
    height: 100%;
    width: 100%;
    display: inline-table;
    cursor: pointer;
    text-decoration: none;
}

.sign-up-link-button>a>h3 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #f6f6f6;
    font-size: 50%;
}

/* group ethos */

#welcome {
    margin-bottom: 24px;
    font-size: 230%;
    text-align: center;
}

#group-ethos {
    height: 600px;
    width: 100%;
    text-align: center;
    background-color: #A3BAB7;
    padding: 48px 24px;
    box-sizing: border-box;
    font-size: 1.1em;
}

#left-about {
    padding: 24px;
    width: 33%;
    float: left;
}

#right-about {
    padding: 24px;
    width: 33%;
    float: right;
}

#center-about {
    padding: 24px;
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #003942;
    width: 100%;
    margin: 10px 0px;
}

.left-about-heading {
    width: 60%;
    clear: both;
    margin: 0 auto;
}

.right-about-heading {
    width: 60%;
    clear: both;
    margin: 0 auto;
}

.center-about-heading {
    width: 60%;
    margin: 0 auto;
}

.circle-container {
    width: 150px;
    height: 150px;
    padding: 30px;
    border-style: solid;
    border-color: #A3BAB7;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#left-cover-background {
    background: url('../images/___Two_Whippets_Running_With_A_Stick_Square\ Resized.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
}

#right-cover-background {
    background: url('../images/___Whippet_Catching_A_Frisbee_Square\ Resized.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
}

#center-cover-background {
    background: url('../images/___Four_Enquisitive_Whippets_Square\ Resized.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
}

/* event times and locations */

#events {
    width: 100%;
    height: 600px;
    padding: 48px 0px;
    display: inline-block;
    background-color: #f6f6f6;
}

#events-title {
    margin-bottom: 24px;
    text-align: center;
    font-size: 230%;
}

#events div {
    width: 33.33%;
    height: 550px;
    float: left;
    text-align: center;
    font-size: 1.1em;
    padding: 24px;
    background-color: #fff;
    border: 12px solid #f6f6f6;
    border-radius: 25px;
    box-sizing: border-box;
    position: relative;
}

#events div h2 {
    padding: 24px;
}

#events div h4 {
    padding-bottom: 12px;
    color: #405E63;
}

#events ul {
    padding: 12px 24px;
    font-size: 1.1em;
    line-height: 25px;
}

#events ul li::marker {
    content: '✓';
}

#events iframe {
    position: absolute;
    height: 150px;
    width: 90%;
    bottom: 20px;
    left: 20px;
}

/* footer */

footer {
    height: 150px;
    width: 100%;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: inherit;
}

.social-networks li {
    list-style-type: none;
    display: inline;
}

.social-networks i {
    font-size: 1.75em;
    margin: 1px;
    padding: 5%;
}

/* sign up page */

.form-section {
    background: url('../images/___Whippet_At_The_Top_Of_A_Hill_16x9\ Resized.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 900px;
    width: 100%;
}

.signup-form {
    color: #f6f6f6;
    background-color: rgba(64, 94, 99, .6);
    border-radius: 15px;
    position: absolute;
    right: 10%;
    padding: 24px;
    margin: 150px 5% 0 0;
    max-width: 350px;
}

.signup-form>h2 {
    margin-bottom: 12px;
    color: #f6f6f6;
}

.signup-text-input {
    background: transparent;
    color: inherit;
    width: 100%;
    height: 24px;
    margin: 0px 5px 12px 0px;
    border: 1px solid #f6f6f6;
    border-radius: 5px;
}

.sign-up-button {
    width: 200px;
    height: 40px;
    margin-top: 20px;
    border-radius: 4px;
    color: #f6f6f6;
    background-color: #054E57;
    display: block;
    border: 1px solid #054E57;
    float: left;
    font-size: 1.1em;
    text-transform: lowercase;
}

.sign-up-button:hover {
    background-color: #003942;
    border-color: #f6f6f6;
}

/* Training Tips */

#tips-main {
    width: 60%;
    margin: 75px 25px 50px 25px;
    display: inline-block;
}

#tips-main h2 {
    width: 100%;
    float: left;
    font-size: 230%;
    margin-left: 55px;
}

#tips-main p {
    float: left;
    width: 100%;
}

article {
    width: 100%;
    float: left;
    padding: 12px;
    margin-bottom: 12px;
}

article a {
    font-size: 1.1em;
    text-decoration: none;
    color: #054E57;
}

article p {
    text-align: justify;
}

.video-wrapper {
    padding: 12px 5px 12px 0px;
    float: left;
}

#aside-nav-sidebar {
    width: 25%;
    float: right;
    padding: 24px;
    margin: 75px 25px 50px 25px;
}

#aside-nav-sidebar h3 {
    line-height: 20px;
    padding-bottom: 5px;
}

#aside-nav-sidebar ul li {
    float: left;
    list-style-type: none;
    margin-bottom: 24px;
}

#aside-nav-sidebar a {
    text-decoration: none;
    color: inherit;
}

.sidebar-pic {
    width: 30%;
    background-size: cover;
    padding: 5px;
    float: left;
}

/* media queries */

/* for screens of size 1200px wide and under*/
@media screen and (max-width: 1200px) {

    header,
    footer {
        margin: 0 auto;
        position: relative;
    }

    #hero-outer {
        width: 90%;
        margin: 0 auto;
        display: block;
    }

    #hero-image,
    #cover-text {
        height: 40%;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    #group-ethos {
        width: 90%;
        height: auto;
        margin: 0 auto;
    }

    #group-ethos>div {
        clear: both;
        width: 90%;
        float: none;
        margin: 0 auto;
    }

    #events {
        width: 90%;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    #events div {
        width: 65%;
        float: none;
        margin: 0 auto;
    }

    footer {
        width: 90%;
    }

    #tips-header {
        position: absolute;
    }
}

/* for screens of size 1100px wide and under*/
@media screen and (max-width: 1100px) {
    /*#tips-main {
        margin-top: 10px;
    }*/

    .video-wrapper iframe {
        width: 300px;
    }
}

/* for screens of size 1000px wide and under*/
@media screen and (max-width: 1000px) {
    #aside-nav-sidebar {
        display: none;
    }
}

/* for screens of size 770px wide and under*/
@media screen and (max-width: 770px) {

    #logo,
    #menu {
        clear: both;
        float: none;
        line-height: 50px;
        margin-top: 6px;
    }

    #cover-text {
        font-size: 1.25rem;
    }

    #events div {
        width: 90%;
        float: none;
        margin: 0 auto;
        padding: 12px;
    }

    #tips-main {
        margin-top: 125px;
    }
}

/* for screens of size 525px wide and under*/
@media screen and (max-width: 525px) {
    #cover-text {
        font-size: 100%;
    }

    #menu ul {
        font-size: 90%;
    }
}

/* for screens of size 400px wide and under*/
@media screen and (max-width: 400px) {
    #events iframe {
        display: none;
    }

    #tips-main {
        margin-top: 150px;
    }
}