@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #054E57; 
   /* background-color: #F6F6F6; */
}

/* headings and logo */

h1, h2 {
    font-family: 'Open-Sans', sans-serif;
    text-transform: lowercase;
    color: #003942;
    letter-spacing: 2px;    
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 10px;
}

/* nav links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu ul {
    float: right;
}

#menu ul li {
    float: left;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover  {
    border-bottom: 1px solid #054E57;
}

.active  {
    border-bottom: 1px solid #054E57;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/16x9\ depositphotos_223407470-stock-photo-two-white-whippets-playing-outdoor.jpg') no-repeat center center;
    background-size: cover; 

    /* animates zoom effect  upon page refresh */
    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

/* creates level of zoom effect for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}